# Import base config
{% import "setup/base_map.jinja" as basecfg %}

# Get the user under which to build
{# {% set build_runas = pillar.get('build_runas', basecfg.build_runas) %} #}
{% set build_runas = 'root' %}

# Get the repo signing timeout
{% repo_sign_timeout = basecfg.repo_sign_timeout %}

# Get the release and architecture
{% set build_release = pillar.get('build_release', 'debian8') %}
{% set build_arch = pillar.get('build_arch', 'amd64') %}

# Set the destination for built packages
{% set build_dest_dir = basecfg.build_dest ~ '/' ~ build_release ~ '/' ~ build_arch %}

# Set the mock target
{% set build_tgt = 'deb-' ~ build_arch %}

# Get the home and gpg keys directories to use, some tools assume ~/.gnupg
{% if build_runas == 'root' %}
{% set build_homedir = '/' ~ build_runas %}
{% else %}
{% set build_homedir = '/home/' ~ build_runas %}
{% endif %}

{% set build_gpg_keydir = build_homedir ~ '/.gnupg' %}

