{% set build_dest = pillar.get('build_dest', '/srv/pkgs') %}
{% set build_runas = pillar.get('build_runas', 'builder') %}

# branch build version
{% set build_version = pillar.get('build_version', '') %}

{% if build_version == '' %}
{% set redhat_pkg = 'redhat_pkg' %}
{% set debian_pkg = 'debian_pkg' %}
{% set ubuntu_pkg = 'ubuntu_pkg' %}
{% else %}
{% set redhat_pkg = 'versions.' ~ build_version ~ '.redhat_pkg' %}
{% set debian_pkg = 'versions.' ~ build_version ~ '.debian_pkg' %}
{% set ubuntu_pkg = 'versions.' ~ build_version ~ '.ubuntu_pkg' %}
{% endif %}

