# Import base config
{% import "setup/base_map.jinja" as basecfg %}

# Get the user under which to build
{% set build_runas = pillar.get('build_runas', basecfg.build_runas) %}

# Get the repo signing timeout
{% set repo_sign_timeout = basecfg.repo_sign_timeout %}

# Get the release and architecture
{% set build_release = pillar.get('build_release', 'rhel7') %}
{% set build_arch = pillar.get('build_arch', 'x86_64') %}

# Set the destination for built packages
{% set build_dest_dir = basecfg.build_dest ~ '/' ~ build_release ~ '/' ~ build_arch %}

# Set the mock target
{% if build_release == 'rhel7' %}

  {% set build_epel = 'epel-7' %}
  {% set build_tgt = build_epel ~ '-' ~ build_arch %}
  {% set build_dist = 'el7' %}

{% elif build_release == 'rhel6' %}

  {% set build_epel = 'epel-6' %}
  {% set build_tgt = build_epel ~ '-' ~ build_arch %}
  {% set build_dist = 'el6' %}

{% elif build_release == 'rhel5' %}

  {% set build_epel = 'epel-5' %}
  {% set build_tgt = build_epel ~ '-' ~ build_arch %}
  {% set build_dist = 'el5' %}

{% elif build_release == 'fc24' %}

  {% set build_epel = 'fedora-24' %}
  {% set build_tgt = build_epel ~ '-' ~ build_arch %}
  {% set build_dist = build_release %}

{% endif %}


# Get the home and gpg keys directories to use, some tools assume ~/.gnupg
{% if build_runas == 'root' %}
{% set build_homedir = '/' ~ build_runas %}
{% else %}
{% set build_homedir = '/home/' ~ build_runas %}
{% endif %}

{% set build_gpg_keydir = build_homedir ~ '/.gnupg' %}

# repo use of passphrases when signing
{% set repo_use_passphrase = basecfg.repo_use_passphrase %}
