# Import base config
{% import "setup/base_map.jinja" as basecfg %}

# Get the user under which to build
{% set build_runas = pillar.get('build_runas', basecfg.build_runas) %}

# Get the release and architecture
{% set build_release = pillar.get('build_release', 'rhel7') %}
{% set build_arch = pillar.get('build_arch', 'x86_64') %}

# Set the destination for built packages
{% set build_dest_dir = basecfg.build_dest ~ '/' ~ build_release ~ '/' ~ build_arch %}

# Set the mock target
{% if build_release == 'rhel7' %}

  {% set build_tgt = 'epel-7-' ~ build_arch %}
  {% set build_dist = 'el7' %}

{% elif build_release == 'rhel6' %}

  {% set build_tgt = 'epel-6-' ~ build_arch %}
  {% set build_dist = 'el6' %}

{% elif build_release == 'rhel5' %}

  {% set build_tgt = 'epel-5-' ~ build_arch %}
  {% set build_dist = 'el5' %}

{% endif %}

# Get the gpg keys directory to use
{% set build_gpg_keydir = pillar.get('build_gpg_keydir', basecfg.build_gpg_keydir) %}

