config_opts['root'] = 'amzn-salt-x86_64'
config_opts['target_arch'] = 'x86_64'
config_opts['legal_host_arches'] = ('x86_64',)
config_opts['chroot_setup_cmd'] = 'install bash bzip2 coreutils cpio diffutils findutils gawk gcc gcc-c++ grep gzip info make patch system-release system-rpm-config rpm-build sed shadow-utils tar unzip util-linux-ng which xz pkgconfig yum-utils'
config_opts['dist'] = 'amzn'  # only useful for --resultdir variable subst

config_opts['yum.conf'] = """
[main]
cachedir=/var/cache/yum
debuglevel=1
reposdir=/dev/null
logfile=/var/log/yum.log
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1
syslog_ident=mock
syslog_device=

# repos
[amzn-main]
name=amzn-main-Base
enabled=1
mirrorlist=http://repo.us-west-2.amazonaws.com/latest/main/mirror.list
failovermethod=priority
gpgkey=file:///etc/pki/mock/RPM-GPG-KEY-amazon-ga
gpgcheck=1

[amzn-updates]
name=amzn-updates-Base
enabled=1
mirrorlist=http://repo.us-west-2.amazonaws.com/latest/updates/mirror.list
failovermethod=priority
gpgkey=file:///etc/pki/mock/RPM-GPG-KEY-amazon-ga
gpgcheck=1

[epel]
name=epel
mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=epel-6&arch=x86_64
failovermethod=priority
gpgkey=file:///etc/pki/mock/RPM-GPG-KEY-EPEL-6
gpgcheck=1

[epel-debug]
name=epel-debug
mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=epel-debug-6&arch=x86_64
failovermethod=priority
enabled=0
"""

