[Unit]
Description=The Salt API
After=network.target

[Service]
EnvironmentFile=/etc/default/salt-api
Type=simple
LimitNOFILE=8192
ExecStart=/usr/bin/salt-api
Restart=$RESTART

[Install]
WantedBy=multi-user.target
